a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-color: indianred;
}

.home-bg {
  background-image: url('../images/yu-hong-lee-_mEOUrZAtqI-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
