@import '../node_modules/bootstrap/scss/bootstrap';

body {
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
