
.nav-link{
    /* color:#84909b ; */
    /* color: #c49a69; */
    color: #d2b74e;
    font-weight: 500;
    
  }
.line-cd{
    border-bottom:1px solid #d2b74e;
  }
 .main-title{
    font-family:'Skranji', 'Noto Sans TC',cursive,sans-serif;
    line-height: 1.5;
 }
 .date-item a{
    text-decoration: none;
    display: inline-block;
    color:#5b4730;
    padding: 12px 28px;
    border:3px solid transparent;
    /* background-color: #c8baa7; */
    // background-color:#dcd3b2;
    border-radius: 8px;
    font-weight: 700; 
  }
  

  .date-item :nth-child(odd) a{
    background-color: #dcd3b2;
  }
  .date-item :nth-child(even) a{
    background-color: #f5deb3;
  }
  .date-item a:hover{
    border:3px dotted #deb887;
    background-color: transparent;
  }

  .date-item li{
    margin:18px;
  }
  .content{
    height: 100%;
  } 
  .hp-img img:hover{
    animation: shake .1s linear infinite alternate ;
  }

  .rotate5:hover{
    transform:rotate(10deg);
  }
  .rotate-5:hover{
    transform:rotate(-10deg);
  }
  @keyframes shake {
    0%{ transform: rotate(-2deg);}
    100%{ transform: rotate(2deg);}
    
  }
 

//   page2
.date-item2 a{
    text-decoration: none;
    display:block;
    color:#5b4730;
    padding: 12px 18px;
    border:3px solid transparent;
    /* background-color: #c8baa7; */
    background-color:#f7e9c5;
    
    border-radius: 4px;
    font-weight: 700; 
  }
  .date-item2 a:hover{
    border:3px dashed #eacc6f;
    background-color: transparent;
  }
  .date-item2 li{
    margin:18px;
  }