.logo-yu-dark {
  background: url(../images/2.png) no-repeat;
  max-height: 100px;
  max-width: 100px;
  background-size: contain;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
.logo-yu {
  background: url(../images/1.png) no-repeat;
  max-height: 100px;
  max-width: 100px;
  background-size: contain;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
.bg-theme-tokyo {
  background: url(../images/weiqi-xiong-min.jpg) no-repeat;
  height: auto;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  @include pad {
    background: url(../images/yusheng-deng-min.jpg) no-repeat;
    background-size: cover;
  }
}

.bg-dark-mode {
  background-color: #121212;
}

.splide__slide {
  height: calc(100vh - 3.5rem);
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
