// Fonts
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Share+Tech+Mono&display=swap");

//CSShake
@import url("https://csshake.surge.sh/csshake.min.css");

@import "./mixins";
@import "./base";
@import "./themes";
@import "./clock";
@import "./clothFactory";

.cap {
  background-color: rgba($color: #fff, $alpha: 0.7);
}
.splide__slide {
  height: calc(100vh - 3.5rem);
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
